<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>initparameter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet> <!-- 서블릿의 디폴트 값을 xml에서 정의-->
  	<servlet-name>ServletInitParameter</servlet-name>
  	<servlet-class>com.dongbeen.inje.ServletInitParameter</servlet-class>
  		<init-param>
  			<param-name> id </param-name>
  			<param-value> abcd </param-value>
  		</init-param>
  		<init-param>
  			<param-name> pw </param-name>
  			<param-value> 12345 </param-value>
  		</init-param>
  		<init-param>
  			<param-name> path </param-name>
  			<param-value> C : \ kkk </param-value>
  		</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletInitParameter</servlet-name>
  	<url-pattern>/InitParam</url-pattern>
  </servlet-mapping>
</web-app>